In [3]:
import pandas as pd

In [18]:
df = pd.read_csv('LoanApp.csv.gz')
df

,case_id,resource,activity,start_time,end_time
0,0,Clerk-000001,Check application form completeness,2023-02-09T08:00:00.000,2023-02-09T08:28:27.808
1,1,Clerk-000003,Check application form completeness,2023-02-09T08:30:00.000,2023-02-09T08:59:57.164
2,0,Clerk-000002,Check credit history,2023-02-09T08:28:27.808,2023-02-09T09:00:01.030
3,1,Appraiser-000002,Appraise property,2023-02-09T08:59:57.164,2023-02-09T09:00:18.122
4,2,Clerk-000005,Check application form completeness,2023-02-09T09:00:00.000,2023-02-09T09:04:40.802
...,...,...,...,...,...
7487,999,AML Investigator-000002,AML check,2023-05-08T14:36:34.538,2023-05-09T07:31:25.554
7488,999,Loan Officer-000004,Assess loan risk,2023-05-09T07:31:25.554,2023-05-09T07:51:25.554
7489,999,Loan Officer-000003,Design loan offer,2023-05-09T07:51:25.554,2023-05-09T08:06:13.935
7490,999,Senior Officer-000002,Approve loan offer,2023-05-09T08:06:13.935,2023-05-09T08:26:13.935
7491,999,Clerk-000005,Cancel application,2023-05-09T08:26:13.935,2023-05-09T08:31:13.935

In [5]:
def compute_cycle_time(df, start_timestamp_col='start_timestamp', end_timestamp_col='end_timestamp', case_id_col='case_id'):
    df[start_timestamp_col] = pd.to_datetime(df[start_timestamp_col], format='mixed')
    df[end_timestamp_col] = pd.to_datetime(df[end_timestamp_col], format='mixed')

    # Calculate duration per case
    df['case_duration'] = df.groupby(case_id_col).apply(lambda x: (x[end_timestamp_col].max() - x[start_timestamp_col].min()).total_seconds() / 3600).reset_index(drop=True)

    # Compute average case duration
    average_duration = df['case_duration'].mean()

    return average_duration

In [19]:
average_duration = compute_cycle_time(df, start_timestamp_col='start_time', end_timestamp_col='end_time', case_id_col='case_id')
average_duration

/var/folders/45/0s1q3ns54cv9jj1ss_41vx2r0000gn/T/ipykernel_32981/2978967996.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df['case_duration'] = df.groupby(case_id_col).apply(lambda x: (x[end_timestamp_col].max() - x[start_timestamp_col].min()).total_seconds() / 3600).reset_index(drop=True)

10.335891962777778